In [2]:
import pandas as pd
import numpy as np

In [4]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [10]:
obj[:'c']

a    0.0
b    1.0
c    2.0
dtype: float64

In [19]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                   index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [15]:
data.iloc[:2,:2]

          one  two
Ohio        0    1
Colorado    4    5

In [41]:
#ｌｏｃ闭区间
ser = pd.Series(np.arange(3.))
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [42]:
#ｌｏｃ开区间
ser.iloc[:1]

0    0.0
dtype: float64

In [35]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

2.0