In [1]:
import pandas as pd
import numpy as np

In [4]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [10]:
obj[:'c']

a    0.0
b    1.0
c    2.0
dtype: float64

In [19]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                   index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [15]:
data.iloc[:2,:2]

          one  two
Ohio        0    1
Colorado    4    5

In [41]:
#ｌｏｃ闭区间
ser = pd.Series(np.arange(3.))
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [42]:
#ｌｏｃ开区间
ser.iloc[:1]

0    0.0
dtype: float64

In [43]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

2.0

In [44]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],              index=['a', 'c', 'e', 'f', 'g'])

In [45]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [2]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series3 = frame['d']#%%
series = frame.iloc[0]

In [54]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [51]:
#在行索引上进行广播
frame.sub(series3, axis=0)

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [55]:
frame.add(series,axis=1)

          b     d     e
Utah    0.0   2.0   4.0
Ohio    3.0   5.0   7.0
Texas   6.0   8.0  10.0
Oregon  9.0  11.0  13.0

In [57]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])

f = lambda x:x.max()-x.min()

In [59]:
frame.apply(f,axis=1)

Utah      0.859142
Ohio      0.546037
Texas     2.483832
Oregon    0.178716
dtype: float64

In [15]:
def fun_one(x):
    return pd.Series(data=[x.min(),x.max()],index=['min','max'])

In [19]:
frame.apply(fun_one,axis=1)

        min   max
Utah    0.0   2.0
Ohio    3.0   5.0
Texas   6.0   8.0
Oregon  9.0  11.0

In [21]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [23]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [25]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

In [41]:
frame = pd.DataFrame(np.random.randn(2,4),
                     index=['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame

              d         a         b         c
three  1.940262  0.246871 -0.975781 -0.712970
one    1.867836 -0.060377 -0.367546  0.460801

In [45]:
frame.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [47]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [66]:
#ａｒｇｓｏｒｔ是返回排序后的索引下标，ｒａｎｋ是返回这个数字排序后这个数字的排序位次
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [68]:
obj.argsort()

0    1
1    5
2    4
3    3
4    6
5    0
6    2
dtype: int64

In [71]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                  [np.nan, np.nan], [0.75, -1.3]],
                 index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [80]:
df.idxmax()

one    b
two    d
dtype: object

In [81]:
import pandas_datareader.data as web
all_data = {ticker: web.get_data_yahoo(ticker)
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

ModuleNotFoundError: No module named 'pandas_datareader'

In [85]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [91]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                  'Qu3': [1, 5, 2, 4, 4]})

data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [101]:
data.apply(pd.value_counts,axis=0)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [103]:
data['Qu1']

0    1
1    3
2    4
3    3
4    4
Name: Qu1, dtype: int64

In [105]:
a = np.arange(16).reshape(4,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [106]:
a.sum(axis = 0)

array([24, 28, 32, 36])